/*CSS document*/

body {
    background-color: rgb(250 245 245);
}

div.container {
    max-width: 60em;
    margin: auto;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    
}

nav ul {
	padding 2em;
}

nav ul li {
	display: inline;
	text-transform: uppercase;
    font-family: interstate;
    font-weight: 600;
    font-size: 1.6em;
    margin-right: 1em;
    
}

nav ul li a {
	color: rgb(10 10 10);
	text-decoration: none;
}

h1{
    width: 12em;
}

h2 {
    color: rgb(10 10 10); 
    text-transform: uppercase;
    font-family: interstate;
    font-weight: 500;
    font-size: 1.5em;
}
h3 {
    color: rgb(10 10 10); 
    text-transform: uppercase;
    font-family: interstate;
    font-weight: 500;
    font-size: 1.5em;
}

figcaption{
    color: rgb(10 10 10); 
    font-family: interstate;
    font-weight: 300;
    font-size: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

p{
    color: rgb(10 10 10); 
    font-family: interstate;
    font-weight: 300;
    font-size: 1em;
}

a{
    text-decoration: none;
}

a:hover {
    color: rgb(100 18 40);
}

