/*CSS document*/

body {
    background-color: rgb(250 245 245);
    margin: 0 4em 0 4em;
}

div.container {
    margin: auto;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    
}

nav ul {
	padding 2em;
     margin-bottom: 2em;
}

nav ul li {
	display: inline;
	text-transform: uppercase;
    font-family: interstate;
    font-weight: 600;
    font-size: 1.6em;
    margin-right: 1em;
    
}

nav ul li a {
	color: rgb(10 10 10);
	text-decoration: none;
}

h1{
    width: 12em;
}

h2 {
    color: rgb(10 10 10); 
    text-transform: uppercase;
    font-family: interstate;
    font-weight: 500;
    font-size: 1.5em;
}
h3 {
    color: rgb(10 10 10); 
    text-transform: uppercase;
    font-family: interstate;
    font-weight: 500;
    font-size: 1.5em;
    margin: 0;
    padding-top: 0.25em;
}

figcaption{
    color: rgb(10 10 10); 
    font-family: interstate;
    font-weight: 300;
    font-size: 0.9em;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

p{
    color: rgb(10 10 10); 
    font-family: interstate;
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 2em;
}

section{
/*    max-width: 30em;*/
    margin: 0 auto 0;
}

a{
    text-decoration: none;
}

a:hover {
    color: rgb(100 18 40);
}

@media screen and (min-width: 60em){
    
    div.container{
/*        display: grid;*/
/*        grid-template-columns: 3fr 1fr; wont need*/
/*        grid-gap: 0 1.5em;*/
    }
    
    header{
        grid-column: 1/3;
    }
    
    footer {
        grid-column: 1/3;
    }

    div.home, div.nophoto{
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 1em;
        grid-gap: 0 1.5em;
    }
    
    div.nophoto{
        margin-top: 3em;
    }
    
    div.headline{
        grid-column: 1/2;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
        grid-gap: 0 1.5em;
    
    }
    
            section.mainstory{
                grid-column: 2/4;
                grid-row: 1/3;
                display: flex;
                flex-direction: column;
            }

            section.mainstory figure{
                flex: 1 0 18em;
                display: flex;
                flex-direction: column;
            }

            section.mainstory figure div{
                flex: 1 0 18em;
            }

            section.mainstory figure div img{
                height: 100%;
            }

            section.mainstory figure figcaption{
                flex: 0 0 3em;
            }

            section.mainstory h3{
                flex: 0 0 auto;
                margin: 0;
                padding-top: 1em;
                padding-bottom: 1em;
            }

            section.mainstory p{
                flex: 0 0 auto;
                margin: 0;
    }
    
    
}

}